.edit-product-container {
  form {
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    min-width: 40rem;
    max-width: 80rem;
    min-height: 480px;
    padding: 0 50px;
    text-align: center;
  }

  label {
    text-align: left;
  }

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  textarea {
    margin-top: 2rem;
    flex: 2 1 25rem;
    resize: none;
    height: 150px;
    width: 100%;
  }
  .button {
    min-width: 70%;
  }
}
