/* COLORS
  Main : #713434
  Main Light:#a34b4b
  Dark: #4b4b4b
  Light gray: #cccccc
  White: #fffff
*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #ffffff;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #713434;
  color: #ffffff;
  text-align: center;
  line-height: 5rem;
}

/* ROW */
.row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.evenly {
  justify-content: space-evenly;
}

.row.left {
  justify-content: start;
}

/* COLUMN */

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.column.center {
  justify-content: space-evenly;
}

.column.small {
}

.column.top {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

a:hover {
  color: #713434;
}

header a {
  padding: 1rem;
}

/* DROPDOWNS */

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-header {
  padding: 2rem 1rem 2rem 0rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #713434;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content .navlink {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.dropdown-content .navlink:hover {
  color: #cccccc;
}
.dropdown:hover {
  background-color: #713434;
  color: #cccccc;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding-top: 1rem;
}

.dropdown:hover .dropdown-header {
  padding: 2rem 1rem 2rem 0rem;
  background-color: #713434;
  color: white;
}
.dropdown:hover .dropdown-header-link {
  background-color: #713434;
  color: white;
}

/* SELECTOR */

/* IMAGES*/
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
  transition: 0.4s;
}

img.large {
  max-width: 70rem;
  width: 100%;
}

.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* PRODUCT */

.product-item {
  display: inline-block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.product-item .sold-out,
.product-item .on-sale {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  padding: 0.5rem;
  opacity: 0.9;
}
.product-item .sold-out {
  background-color: #cccccc;
}

.product-item .on-sale {
  background-color: #713434;
}
.product-item .name {
  font-size: 20px;
}
.discount {
  text-decoration: line-through;
  opacity: 0.5;
}

/* BUTTONS */

.product-item:hover button {
  transition: 0.4s;
  opacity: 1;
}

button.empty {
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 12rem;
  right: 0px;
  color: #713434;
  border-color: #713434;
  padding: 1rem;
  background-color: #ffffff;
  opacity: 0;
  transition: 0.4s;
}

button.primary {
  cursor: pointer;
  width: 100%;
  bottom: 12rem;
  right: 0px;
  color: #713434;
  border-color: #713434;
  background-color: #ffffff;
  padding: 1rem;
  transition: 0.4s;
}

button.primary:hover {
  cursor: pointer;
  width: 100%;
  bottom: 12rem;
  right: 0px;
  color: #ffffff;
  border-color: #a34b4b;
  padding: 1rem;
  background-color: #a34b4b;
}

.product-item:hover button:disabled {
  opacity: 0.4;
}

.loading {
  display: block !important;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1ram solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
