.review-form {
  form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    height: 100%;
    text-align: center;
    margin: 2rem 0;
    border: 1px solid;
    border-color: #eeeeee;

    input {
      background-color: #eee;
      border: none;
      padding: 12px 15px;
      width: 100%;
      margin-top: 2rem;
    }
    textarea {
      margin-top: 2rem;
      flex: 2 1 25rem;
      resize: none;
      width: 100%;
    }

    .button {
      width: 100%;
      #slide {
        left: -670px;
      }
    }
    .button:hover #slide {
      left: 0;
    }
  }
}
