.subtotal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .button-light {
    width: 25%;
    #slide {
      left: -530px;
    }
  }
  .button-light:hover #slide {
    left: 0;
  }
}
