.row-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;

  .image-small {
    max-width: 30%;
  }

  .image-large {
    width: 100%;
  }

  .row-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col-1 {
    flex: 1 1 25rem;
    max-width: 75rem;
  }

  .col-2 {
    flex: 2 1 50rem;
    max-width: 75rem;
  }

  .title {
    font-size: 30px;
  }

  .description {
    padding: 5rem 5rem 5rem 0;
  }

  .select {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .select select {
    width: 80%;
    padding: 1rem;
  }
}
